.App {
  max-width: 1240px;
  margin: 0 auto;
}

.App-header {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}

.todo {
  width: 200px;
  border: 1px solid orange;
  border-top: 2px solid orange;
  min-height: 30px;
  margin-bottom:2px;
}

.todo.done {
  border-color: green;
}

.todo.new {
  border: 1px solid grey;
}
.todo input[type="text"] {
  border: none;
  width: 160px;
  height:24px;
}

.todo input[type="checkbox"] {
  margin: 0 10px;
}
