.App {
  max-width: 1240px;
  margin: 0 auto;
}

.App-header {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}

.todo {
  width: 300px;
  border: 2px solid blue;
  min-height: 30px;
  margin-bottom: 4px;
}

.todo.done {
  border-color: green;
}

.todo.new {
  border: 2px solid grey;
}
.todo input[type="text"] {
  border: none;
  width: 266px;
  height: 30px;
}

.todo input[type="checkbox"] {
  margin: 0 10px;
}
